// ### Primary

$primary-darkviolet: hsl(256, 26%, 20%);
$primary-grayishblue: hsl(216, 30%, 68%);

// ### Neutral

$neutral-verydarkviolet: hsl(270, 9%, 17%);
$neutral-darkgrayishviolet: hsl(273, 4%, 51%);
$neutral-verylightgray: hsl(0, 0%, 98%);